<ion-header>
  <mat-toolbar color="primary" style="height: 80px; padding: 28px 0 0 0;">
    <ion-menu-button menu="mains"></ion-menu-button>
    <div>{{title}}</div>
  </mat-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>书写速度：{{drawSpeed}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">画笔大小设置</ion-label>
    <ion-input type="number" [(ngModel)]="lineWidth" (ionChange)="getLineWidth()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>颜色值：</ion-label>
    <ion-text>
      <span class="colorItem" *ngFor="let item of colorList" [style.background]="item" (click)="getBgColor(item)"></span>
    </ion-text>
  </ion-item>

  <section style="text-align: center;" class="py-4">
    <canvas id="canvas" style="border: 1px solid gray;">不支持canvas显示</canvas>
  </section>
  <div class="d-flex justify-content-center py-4">
    <button mat-raised-button color="accent" class="m-2" (click)="getEraser()">清空/橡皮擦</button>
    <button mat-raised-button color="primary" class="m-2" (click)="saveImage()">保存图像</button>
  </div>
  <div class="text-center" *ngIf="dataUrl">
    <img [src]="dataUrl">
  </div>
</ion-content>
