.colorItem{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  margin: 5px;
}

.colorItem:hover {
  cursor: pointer
}

#canvas{
  background: white;
  border: 1px solid blue;
}
