<ion-header>
  <mat-toolbar class="position-absolute" style="background: rgba(255,255,255,0); height: 80px; padding: 28px 0 0 0;">
    <ion-menu-button menu="mains"></ion-menu-button>
    <div>{{title}}</div>
    <button mat-button class="ml-auto fa fa-chevron-circle-left" routerLink="/"></button>
  </mat-toolbar>
</ion-header>

<ion-content>
  <div class="pane container-fluid">
    <br><br><br><br>
    <h5>顺时针沿着小圆点画图形：</h5>

    <section style="text-align: center;" class="py-4">
      <canvas id="canvas" style="border: 1px solid gray;">不支持canvas显示</canvas>
    </section>
    <div class="d-flex justify-content-center py-4">
      <button mat-raised-button color="accent" class="m-2" (click)="getEraser()">重新开始</button>
      <button mat-raised-button color="primary" class="m-2" (click)="saveImage()">保存图像</button>
    </div>
  </div>

</ion-content>
